<%= stylesheet_pack_tag 'post', 'trix' %>
<%= javascript_pack_tag 'post', 'trix' %>

<div class="index">
  <h2 class="post_header">Posts</h2>
  <div class="index__posts">
    
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <p>
        <%= post.body %>
      </p>
      <p>
        <%= post.image %>
      </p>
      <p>
        <%= post.slug %>
      </p>
    <% end %>
  </div>
<div>
