<%= stylesheet_pack_tag 'post', 'trix' %>
<%= javascript_pack_tag 'post', 'trix' %>

<div class="show">
  <%= @post.id %>
  <br />
  <%= @post.title %>
  <br />
  <%= @post.body %>
  <br />
  <%= @post.image %>
  <br />
  <%= @post.slug%>
</div>



<center><h5>Tell Us Your Thoughts!</h5></center>

<%= render 'comments/form' %>

  <% if @comments %>
    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <%= comment.body %>
        </div>
      <% end %>
    </div>
  <% end %>
