<%= stylesheet_pack_tag 'post', 'trix' %>
<%= javascript_pack_tag 'post', 'trix' %>

<div class="show">
  <div class="title">
    <h1><%= @post.title %><h1>
  </div>
  <div>
    <img class="image" src="<%= asset_pack_path 'media/images/' + @post.image %>">
  </div>
  <div class="body">
    <%= @post.body %>
  </div>

</div>



<center><h5>Tell Us Your Thoughts!</h5></center>

<%= render 'comments/form' %>

  <% if @comments %>
    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <%= comment.body %>
        </div>
      <% end %>
    </div>
  <% end %>
