<!DOCTYPE html>
<html>
  <head>
    <title><%= (@title + " - IndieHackerJourney" if @title) || "IndieHackerJourney"  %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <% if @title %>
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "headline": "<%= @title %>",
          "author": "An Indie Hacker",
          <% if @image %>
          "image": "https://www.indiehackerjourney.com<%= asset_pack_path 'media/images/' + @image %>",
          <% end %>
          "genre": "digital business",
          "datePublished": "<%= @publication_date %>",
          "dateModified": "<%= @date_modified %>",
          "publisher": {
            "@type": "Organization",
            "name": "An Indie Hacker Journey",
          },
          "url": "<%= @url %>",
          "description": "<%= @shortDescription %>"
        }
      </script>
      <meta name="description" content="<%= @twitterDescription %>">
    <% else %>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": "An Indie Hacker Journey",
          "description": "All about the indie hacker life, including coding, business issues, SEO, digital nomad life, and more"
        }
      </script>
      <meta name="description" content="All about the indie hacker life, including coding, business issues, SEO, digital nomad life, and more">
    <% end %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138906419-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138906419-5');
    </script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
